.productItem {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #1e1e28;
  border-radius: 5px;
  text-decoration: none;
  color: inherit;
  transition: background 0.3s ease;
}
