.app {
  padding: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  .heading {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 25px;
  }

  .subheading {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
  }

  .subsubheading {
    font-weight: 700;
    margin-bottom: 10px;
  }

  code {
    display: block;
    padding: 10px;
    margin: 10px 0;
    background-color: #333;
    border-radius: 5px;
  }

  .productList,
  .data {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr;
    margin-bottom: 30px;

    @media screen and (min-width: 700px) {
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (min-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
